
.author-tag{
	float: right;
}




.detailPost-view{
  overflow: auto;
  border-radius: 10px;

  background: rgba(204, 204, 204, 0.03);
  /*padding: 10px;*/
  display: block;
  margin: 10px auto;
  width: 100%;

}
.col.voting-comment{
  padding-left: 0px !important
}
.post-img {
	display: block;
 	margin: 10px auto 10px auto;
  width: 80%;
}

.singlepost-container{
	display: block;
	margin: 0 auto;
}

.comment-form {
	margin-bottom: 10px;
}

.comment-container{
  display: block;
  margin: 10px auto 5px auto;
  border-radius: 10px;
}

.commentAuthor{
  display: inline-block;
  padding: 1rem;
  font-weight: bold;
  font-size: 13px
}

form .form-group {
  margin-bottom: 0.5rem;
}

hr .hr-comment {
  margin-top: 0;
  margin-bottom: 0;
}

.comment-submit-btn{
  /*float: right;*/
 background-color: #89a4e0;

}

.points-comment{
  color: grey;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.profile-comment-link{
  color: black;
  text-decoration: none;
}
