@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

body {
	font-size: 16px !important;
	font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
body {
  margin: 0;
  padding: 0px;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
	min-width: 100%;
	min-height: 100%;
}
/*set body of app to 100%*/
html, body, #app, #app>div {
  height: 100%
}
h2, .h2 {
	font-size: 2rem !important;
}
textarea, .form-control{
	font-size: 16px !important;
	line-height: 24px !important;
}
.dropdown-menu{
	font-size: 16px !important;
	border-radius: 3px !important;
	padding: 8px auto !important;
	margin-top: 2px !important;
	line-height: 24px !important;
}

.logout-btn{
	background-color: #f51712;
}

.navbar-toggler{
	font-size: 18px !important;
}
.profile-drowpdown {
  float: right;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

.app {
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 0 auto;
}
.btn-singup, .btn-login{
  display: inline-block;

}

/*.container{
	padding-right: 5px !important;
	padding-left: 5px !important;
}*/

.body {
  flex: 1 1 auto;
  margin-top: 80px;
}
.dropdown-menu-right{
	border-radius: 1px;
}
.center-text{
  text-align: center;
}
/*changes*/
.nav-col{
	background-color: #585353 !important;
	border-color: #585353 !important;
}
/*changes*/
nav {
  	min-height: 56px;
  	background-color: #585353 !important;
	border-color: #585353 !important;
	color: #b8cdd8 !important
	border-radius: 0px !important;
}

/*.col-*{
	padding: 0;
}*/

/*nav a {
	color: #b8cdd8 !important;
}*/
/*button .navbar-toggler{
	border-color: #b8cdd8 !important
}*/

.fixed-top{
	z-index: 20 !important;
}
@media (max-width: 768px){
	.fixed-nav {
    position: fixed;
    top: 50px;
    right: 0;
    left: 0;
    z-index: 10;
	}
}
@media (min-width: 769px){
	.fixed-nav {
    position: fixed;
    top: 60px;
    right: 0;
    left: 0;
    z-index: 10;
	}
}

.navbar{
	margin-bottom: 0 !important;
}
nav .nav-item {
  display: flex;
  align-items: center;
  line-height: 24px;
}

nav .navbar-brand{
	height: auto;
	font-size: 20px;
	padding: 0 0;
}
.row{
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.btn {
	font-size: 16px !important;
	border-radius: 0px !important;
	line-height: 20px !important;
	padding: 8px 16px !important;
}

.btn-sm {
	font-size: 12px !important;
	border-radius: 3px !important;
	line-height: 18px !important;
	padding: 3px 12px !important;
}

/*nav {
	display: flex;
  	align-items: center;
}*/
@media (min-width: 992px){
	.navbar-toggleable-md {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		flex-direction: row;
		flex-wrap: nowrap;
		-webkit-box-align: center;
		align-items: center;
	}
}
@media (min-width: 768px){
	.navbar {
	     border-radius: 0px !important; 
	}
}

nav .navbar-nav{
	margin: 0 0;
}

nav .ml-auto{
	margin-left: auto !important;
}
.align-item{
	display: flex;
	align-items: center;
}

.imgHolder {
	width: 40px;
	height: 38px;

}
.img-responsive{
	width: 100% !important;
	height: 100% !important;
	object-fit: cover;
}
.img-rounded{
	width: 100% !important;
	height: 100% !important;
	object-fit: cover;
	border-radius: 1px !important;
}
.profile-img{
	padding: 0px 0px 0px 0px  !important;
}

.container.nested{
	padding-left: 0px !important;
	padding-right: 0px !important ;

}

.logout-btn{
	background-color: red;
}

.dropzone {
	border: .25em dotted silver;
	border-radius: .5em;
	width: 100%;
	min-height: 120px;
	padding: .5em;
}
.imagePreviewCotnainer {
	position: relative;
	overflow: hidden;
}
.imagePreview {
	border-radius: .5em;
	font-size: 36px;
}
.isDragging .imagePreview {
	background-color: rgba(0,0,0,0.25);
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

.imagePreviewCotnainer .dropzone {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.imagePreviewCotnainer .dropzone span {
	background-color: rgba(255,255,255,.5);
	border-radius: .25em;
	padding: 0 .5em;
}


.imagePreview .imageText {
	text-align: center;
	font-family: impact;
	color: white;
	position: absolute;
	width: 100%;
	opacity: 0.5;
	transition: opacity 0.1875s;
}


@media (pointer: fine) {
	.imagePreview .imageText {
		opacity: 0;
	}
}
.imagePreview:hover .imageText,
.imagePreview .imageText:focus {
	opacity: .5;
}
.textEntered .imageText,
.textEntered .imageText:focus,
.textEntered:hover .imageText {
	opacity: 1;
}
.upper.imageText {
	top: 0;
}
.lower.imageText {
	bottom: 0;
}
.outlined {
    text-shadow:
    -0.0625em -0.0625em 0 #000,
     0.0625em -0.0625em 0 #000,
    -0.0625em  0.0625em 0 #000,
     0.0625em  0.0625em 0 #000,
    -0.0625em  0em      0 #000,
     0.0625em  0em      0 #000,
     0em       0.0625em 0 #000,
     0em      -0.0625em 0 #000;
}

.paddingTopPage{

	padding: 60px;


}
.logo-img{
	width: 45px;
	height: 45px;
}

.about-img{
	width: 200px;
	height: 200px;
}