.memeSelect {
	display: flex;
	flex-content: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
	padding: .25em;
}

.memeSelect .meme {
	margin: .25em;
	cursor: pointer;
	transition: transform cubic-bezier(0, 0, 0, 1) .125s;
}
.memeSelect .meme:hover {
	transform: scale(1.125);
}
.memeSelect .meme:active {
	transform: scale(1.0625);
}