.defaultImage, .profileImage {
	position: relative;
}

.defaultImage:hover svg {
	opacity:0.5;
}

.defaultImage span > div {
	z-index: 2;
	display:none;
}

.defaultImage input {
	background-color:rgba( 211, 211, 211, 1 );
}

.defaultImage:hover span > div {
	display:block;
}

.changePicture span {
	display: none;
}

.changePicture:hover span {
	display: block;
}

.profilePic {
	max-width: 400px;
	max-height: 500px;
}

.editProfilePic:hover {
	opacity:0.5;
}