.defaultImage, .profileImage {
	position: relative;
	height: 123px ;
	max-width: 123px;
	margin: 0 auto;
}

@media(max-width: 520px){
	.defaultImage, .profileImage {
		position: relative;
		max-height: 63px ;
		max-width: 63px ;
		margin: 0 auto;
	}
}

@media(max-width: 250px){
	.defaultImage, .profileImage, .profileName, .profile-karma-info, .profile-user-info {
		display: none;
	}

}

@media(max-width: 575px){
	.navbar-nav>li>a{
		padding-top: 2.5px !important;
		padding-bottom: 2.5px !important;
	}
}

@media(min-width: 576px){
	.navbar-nav>li>a{
		padding-top: 5px !important;
		padding-bottom: 5px !important;
	}
}

@media(min-width: 0px){
	.profile-body{
		margin-top: 150px;
	}
}

@media(min-width: 576px){
	.profile-body{
		margin-top: 225px;
	}
}

@media(min-width: 1010px){
	.profile-body{
		margin-top: 255px;
	}
}

.defaultImage:hover svg {
	opacity:0.5;
}

.defaultImage span > div {
	z-index: 2;
	display:none;
}

.defaultImage input {
	background-color:rgba( 211, 211, 211, 1 );
}

.defaultImage:hover span > div {
	display:block;
}

.changePicture span {
	display: block;
	padding-top: 20px;
}
.container.profile-header{
	width: auto !important;
}
/*changes*/
.profile-header{
	background-color: #585353 !important;
	border-color: #333 !important;
	color: rgba(255, 255, 255, 0.5) !important; 
	padding: 0 !important;
	margin-bottom: 5px !important;
}
@media(max-width: 575px){
	.member-date{
		display: none;
	}
}
.profilePic {
	max-width: 400px;
	max-height: 500px;
}

.editProfilePic:hover {
	opacity:0.5;
}



.topPadding30 {
	padding-top: 30px;
}

.profileForm {
	margin: 0 auto;
	maxWidth: 400;
}

.create-group-btn,
.group-list-btn-deleteGroup, 
.group-list-btn-leaveGroup{
	float: right;
}
.group-list-btn-leaveGroup{
	margin-right: 10px;
}

.group-header-wrapper, .group-list-item-wrapper{
	overflow: auto;
	align-items: center;
	display:block;
}

.group-list-container{
	overflow: auto;
  	border-radius: 10px;

  	background: rgba(204, 204, 204, 0.03);
	padding: 10px;
	display: block;
	margin: 10px auto;
	width: 80%;
}

.groups-title, .group-list-group-title{
	float: left;
	font-weight: bold;
	 
}

