.list-container{
  overflow: auto;
  border-radius: 10px;
/*  padding: 10px;*/
  display: block;
  display: block;
  margin: 10px auto;
}

.col-12.voting-comments-point{
	padding-right: 0px;
	padding-left: 0px;
}

.feed-img{
	display: block;
 	margin: 10px auto 10px auto;
  	width: 100%;
}

.points-post{
	color: grey;
	margin-top: 10px;
	margin-bottom: 10px;
}

.col-12.author-padding{
	padding-left: 5px; 
}

.col.karma-points{
	padding-right: 0px;
	padding-left: 0px; 
}

.feed-container{
	display: block;
	margin: 0 auto;
	width: 100%;
	padding: 0px !important;

}
.button-wrapper{
	overflow: hidden;
}
.comment-btn-link{
	float: left;
	margin-right: 5px;
}


@media (max-width: 570px){
	.karma-list-view, .comment-points, .time-created{
		display: none;
	}
	.pull-right.author-tag{
		float: left !important;
		margin-top: 5px;
	}
}