.popup,
.memeSelectPopup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	overflow: auto;
}
.popup--visible,
.memeSelectPopup--visible {
	display: flex;
	justify-content:center;
	align-items:center;
}


.popup .popup__box,
.memeSelectPopup .memeSelectPopup__box {
	background-color: white;
	display: inline-block;
}

.memeSelectPopup .memeSelectPopup__box {
	width: 80%;
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;
	border-radius: .5em;
	
}
.popup .popup__box__footer::after,
.memeSelectPopup .memeSelectPopup__box__footer::after {
	clear:both;
}
.popup .popup__box__footer .popup__box__footer__left-space,
.popup .popup__box__footer .popup__box__footer__right-space,
.memeSelectPopup .memeSelectPopup__box__footer .memeSelectPopup__box__footer__left-space,
.memeSelectPopup .memeSelectPopup__box__footer .memeSelectPopup__box__footer__right-space {
	margin: .5em;
}
.popup .popup__box__footer .popup__box__footer__left-space,
.memeSelectPopup .memeSelectPopup__box__footer .memeSelectPopup__box__footer__left-space {
	float: left;
}
.popup .popup__box__footer .popup__box__footer__right-space,
.memeSelectPopup .memeSelectPopup__box__footer .memeSelectPopup__box__footer__right-space {
	float: right;
}

.popup .popup__btn,
.memeSelectPopup .popup__btn,
.popup .popup__close,
.memeSelectPopup .memeSelectPopup__close {
	margin: .5em;
	border-style: none;
	border-width: 0;
	background-color: rgba( 0, 0, 0, .1 );
	padding: 1rem;
	text-transform: uppercase;
	-webkit-transition: opacity .15s ease-in;
	transition: opacity .15s ease-in;
}
.popup .popup__btn:hover,
.popup .popup__btn:focus,
.memeSelectPopup .popup__btn:hover,
.memeSelectPopup .popup__btn:focus,
.popup .popup__close:hover,
.popup .popup__close:focus,
.memeSelectPopup .memeSelectPopup__close:hover,
.memeSelectPopup .memeSelectPopup__close:focus {
	opacity: .5;
	-weblit-transition: opacity .15s ease-in;
	transition: opacity .15s ease-in;
}
.popup .popup__btn:active,
.memeSelectPopup .popup__btn:active,
.popup .popup__close:active,
.memeSelectPopup .memeSelectPopup__close:active {
	opacity: .8;
	-weblit-transition: opacity .15s ease-out;
	transition: opacity .15s ease-out;
}

.popup .popup__close,
.memeSelectPopup .memeSelectPopup__close {
	align-self: flex-end;
	margin: 1em;
	padding: .25em .5em;
	content: 'X';
}
.popup .popup__close::after,
.memeSelectPopup .memeSelectPopup__close::after {
	content: 'X';
}

.memeSelectPopup .memeSelectPopup__box .memeSelectPopup__box__body {
	flex-grow: 1;
	flex-shrink: 1;
	position: relative;
	height: 10px;
}
.memeSelectPopup .memeSelectPopup__box .memeSelectPopup__box__footer {
	flex-grow: 0;
	flex-basis: content;
	flex-shrink: 0;
}